In [3]:
import pandas as pd

In [4]:
file_one = "../db/northamerica_station_information.csv"

In [5]:
file_two = "../db/city_gasday_fcst.csv"

In [6]:
file_one_df = pd.read_csv(file_one)

In [7]:
file_one_df.head()

  identifier     lat      lon              name state country
0       CYEG  53.310 -113.579  Edmonton Interna    AB      CA
1       CYHZ  44.881  -63.509  Halifax Internat    NS      CA
2       CYQB  46.791  -71.393  Quebec/Jean Lesa    QC      CA
3       CYQR  50.432 -104.666  Regina Internati    SK      CA
4       CYUL  45.471  -73.741  Montreal/Trudeau    QC      CA

In [8]:
file_one_df.rename(columns = {"identifier": "Station"}, inplace = True)

In [9]:
file_one_df.head()

  Station     lat      lon              name state country
0    CYEG  53.310 -113.579  Edmonton Interna    AB      CA
1    CYHZ  44.881  -63.509  Halifax Internat    NS      CA
2    CYQB  46.791  -71.393  Quebec/Jean Lesa    QC      CA
3    CYQR  50.432 -104.666  Regina Internati    SK      CA
4    CYUL  45.471  -73.741  Montreal/Trudeau    QC      CA

In [10]:
file_two_df = pd.read_csv(file_two, encoding="ISO-8859-1")

In [11]:
file_two_df.head()

,Production Date,Date,Station,Fcst Mn,Fcst Mx,Fcst Avg,Norm Mn,Norm Max,HDD,CDD
0,12/6/2018,12/6/2018,KABR,7,22,14.5,8.9,28.3,51,0
1,12/6/2018,12/7/2018,KABR,8,28,18.0,8.5,27.9,47,0
2,12/6/2018,12/8/2018,KABR,10,30,20.0,8.1,27.5,45,0
3,12/6/2018,12/9/2018,KABR,8,29,18.5,7.8,27.1,47,0
4,12/6/2018,12/10/2018,KABR,11,34,22.5,7.4,26.8,43,0

In [12]:
merge_table = pd.merge(file_one_df, file_two_df, on="Station", how="right")
merge_table.head()

,Station,lat,lon,name,state,country,Production Date,Date,Fcst Mn,Fcst Mx,Fcst Avg,Norm Mn,Norm Max,HDD,CDD
0,CYEG,53.31,-113.579,Edmonton Interna,AB,CA,12/6/2018,12/6/2018,1,14,7.5,5.0,24.0,58,0
1,CYEG,53.31,-113.579,Edmonton Interna,AB,CA,12/6/2018,12/7/2018,1,16,8.5,5.0,24.0,57,0
2,CYEG,53.31,-113.579,Edmonton Interna,AB,CA,12/6/2018,12/8/2018,2,20,11.0,5.0,24.0,54,0
3,CYEG,53.31,-113.579,Edmonton Interna,AB,CA,12/6/2018,12/9/2018,7,28,17.5,4.0,24.0,48,0
4,CYEG,53.31,-113.579,Edmonton Interna,AB,CA,12/6/2018,12/10/2018,16,34,25.0,4.0,24.0,40,0

In [13]:
del merge_table["HDD"]

In [14]:
del merge_table["CDD"]

In [15]:
merge_table.head()

,Station,lat,lon,name,state,country,Production Date,Date,Fcst Mn,Fcst Mx,Fcst Avg,Norm Mn,Norm Max
0,CYEG,53.31,-113.579,Edmonton Interna,AB,CA,12/6/2018,12/6/2018,1,14,7.5,5.0,24.0
1,CYEG,53.31,-113.579,Edmonton Interna,AB,CA,12/6/2018,12/7/2018,1,16,8.5,5.0,24.0
2,CYEG,53.31,-113.579,Edmonton Interna,AB,CA,12/6/2018,12/8/2018,2,20,11.0,5.0,24.0
3,CYEG,53.31,-113.579,Edmonton Interna,AB,CA,12/6/2018,12/9/2018,7,28,17.5,4.0,24.0
4,CYEG,53.31,-113.579,Edmonton Interna,AB,CA,12/6/2018,12/10/2018,16,34,25.0,4.0,24.0

In [16]:
new_df = merge_table.loc[merge_table["country"] == "US",:]

In [17]:
new_df.head()

,Station,lat,lon,name,state,country,Production Date,Date,Fcst Mn,Fcst Mx,Fcst Avg,Norm Mn,Norm Max
126,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/6/2018,27,39,33.0,26.8,43.7
127,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/7/2018,21,37,29.0,26.5,43.3
128,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/8/2018,22,36,29.0,26.1,42.9
129,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/9/2018,24,38,31.0,25.8,42.5
130,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/10/2018,22,41,31.5,25.5,42.2

In [18]:
new_df1 = new_df.rename(columns = {"Station":"station_id","name":"station_name","Production Date":"production_date","Date":"forecast_date",
                         "Fcst Mn":"fcst_mn","Fcst Mx":"fcst_mx","Fcst Avg":"fcst_avg","Norm Mn":"norm_mn","Norm Max":"norm_mx"
                        })

In [19]:
new_df1.reset_index().rename(columns = {new_df1.index.name: "id"})

,index,station_id,lat,lon,station_name,state,country,production_date,forecast_date,fcst_mn,fcst_mx,fcst_avg,norm_mn,norm_mx
0,126,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/6/2018,27,39,33.0,26.8,43.7
1,127,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/7/2018,21,37,29.0,26.5,43.3
2,128,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/8/2018,22,36,29.0,26.1,42.9
3,129,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/9/2018,24,38,31.0,25.8,42.5
4,130,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/10/2018,22,41,31.5,25.5,42.2
5,131,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/11/2018,21,37,29.0,25.2,41.8
6,132,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/12/2018,23,40,31.5,24.9,41.4
7,133,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/13/2018,28,45,36.5,24.6,41.1
8,134,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/14/2018,33,46,39.5,24.3,40.7
9,135,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/15/2018,33,47,40.0,24.0,40.4
10,136,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/16/2018,30,44,37.0,23.8,40.1
11,137,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/17/2018,28,41,34.5,23.5,39.8
12,138,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/18/2018,28,43,35.5,23.2,39.5
13,139,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/19/2018,28,44,36.0,23.0,39.2
14,140,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/6/2018,37,60,48.5,35.2,58.4
15,141,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/7/2018,34,44,39.0,34.9,58.1
16,142,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/8/2018,32,42,37.0,34.7,57.9
17,143,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/9/2018,27,49,38.0,34.4,57.6
18,144,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/10/2018,30,55,42.5,34.2,57.4
19,145,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/11/2018,39,59,49.0,34.0,57.2
20,146,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/12/2018,44,63,53.5,33.8,57.0
21,147,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/13/2018,37,64,50.5,33.6,56.8
22,148,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/14/2018,37,58,47.5,33.5,56.6
23,149,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/15/2018,38,61,49.5,33.3,56.5
24,150,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/16/2018,37,61,49.0,33.2,56.3
25,151,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/17/2018,38,62,50.0,33.1,56.2
26,152,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/18/2018,40,64,52.0,33.0,56.1
27,153,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/19/2018,38,59,48.5,32.9,56.0
28,154,KABQ,35.050,-106.617,ALBUQUERQUE,NM,US,12/6/2018,12/6/2018,30,51,40.5,27.6,47.4
29,155,KABQ,35.050,-106.617,ALBUQUERQUE,NM,US,12/6/2018,12/7/2018,32,49,40.5,27.4,47.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3890,4016,KWMC,40.900,-117.800,WINNEMUCCA,NV,US,12/6/2018,12/18/2018,7,38,22.5,16.9,40.5
3891,4017,KWMC,40.900,-117.800,WINNEMUCCA,NV,US,12/6/2018,12/19/2018,3,34,18.5,16.9,40.5
3892,4018,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/6/2018,16,34,25.0,22.1,37.7
3893,4019,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/7/2018,18,34,26.0,21.9,37.4
3894,4020,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/8/2018,22,34,28.0,21.8,37.0
3895,4021,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/9/2018,23,36,29.5,21.6,36.7
3896,4022,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/10/2018,22,41,31.5,21.4,36.3
3897,4023,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/11/2018,25,41,33.0,21.3,36.0
3898,4024,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/12/2018,22,44,33.0,21.2,35.8
3899,4025,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/13/2018,22,39,30.5,21.1,35.5
3900,4026,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/14/2018,20,40,30.0,21.0,35.3
3901,4027,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/15/2018,22,38,30.0,20.9,35.1
3902,4028,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/16/2018,23,39,31.0,20.8,34.9
3903,4029,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/17/2018,22,39,30.5,20.7,34.7
3904,4030,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/18/2018,21,40,30.5,20.7,34.6
3905,4031,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/19/2018,20,38,29.0,20.6,34.5
3906,4032,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/6/2018,25,36,30.5,27.1,39.6
3907,4033,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/7/2018,20,29,24.5,26.8,39.2
3908,4034,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/8/2018,19,33,26.0,26.4,38.8
3909,4035,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/9/2018,20,37,28.5,26.1,38.4
3910,4036,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/10/2018,22,36,29.0,25.7,38.0
3911,4037,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/11/2018,21,37,29.0,25.4,37.6
3912,4038,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/12/2018,26,40,33.0,25.0,37.3
3913,4039,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/13/2018,32,43,37.5,24.7,37.0
3914,4040,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/14/2018,30,38,34.0,24.3,36.6
3915,4041,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/15/2018,29,40,34.5,24.0,36.3
3916,4042,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/16/2018,27,39,33.0,23.7,36.0
3917,4043,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/17/2018,24,36,30.0,23.4,35.7
3918,4044,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/18/2018,26,39,32.5,23.1,35.5
3919,4045,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/19/2018,27,40,33.5,22.8,35.2

In [20]:
# new_df1['id'] = range(1, len(new_df1) + 1)

In [21]:
new_df1['id'] = new_df1.index

In [22]:
new_df1.set_index('id')

,station_id,lat,lon,station_name,state,country,production_date,forecast_date,fcst_mn,fcst_mx,fcst_avg,norm_mn,norm_mx
id,,,,,,,,,,,,,
126,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/6/2018,27,39,33.0,26.8,43.7
127,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/7/2018,21,37,29.0,26.5,43.3
128,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/8/2018,22,36,29.0,26.1,42.9
129,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/9/2018,24,38,31.0,25.8,42.5
130,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/10/2018,22,41,31.5,25.5,42.2
131,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/11/2018,21,37,29.0,25.2,41.8
132,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/12/2018,23,40,31.5,24.9,41.4
133,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/13/2018,28,45,36.5,24.6,41.1
134,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/14/2018,33,46,39.5,24.3,40.7
135,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/15/2018,33,47,40.0,24.0,40.4
136,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/16/2018,30,44,37.0,23.8,40.1
137,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/17/2018,28,41,34.5,23.5,39.8
138,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/18/2018,28,43,35.5,23.2,39.5
139,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/19/2018,28,44,36.0,23.0,39.2
140,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/6/2018,37,60,48.5,35.2,58.4
141,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/7/2018,34,44,39.0,34.9,58.1
142,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/8/2018,32,42,37.0,34.7,57.9
143,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/9/2018,27,49,38.0,34.4,57.6
144,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/10/2018,30,55,42.5,34.2,57.4
145,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/11/2018,39,59,49.0,34.0,57.2
146,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/12/2018,44,63,53.5,33.8,57.0
147,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/13/2018,37,64,50.5,33.6,56.8
148,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/14/2018,37,58,47.5,33.5,56.6
149,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/15/2018,38,61,49.5,33.3,56.5
150,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/16/2018,37,61,49.0,33.2,56.3
151,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/17/2018,38,62,50.0,33.1,56.2
152,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/18/2018,40,64,52.0,33.0,56.1
153,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/19/2018,38,59,48.5,32.9,56.0
154,KABQ,35.050,-106.617,ALBUQUERQUE,NM,US,12/6/2018,12/6/2018,30,51,40.5,27.6,47.4
155,KABQ,35.050,-106.617,ALBUQUERQUE,NM,US,12/6/2018,12/7/2018,32,49,40.5,27.4,47.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4016,KWMC,40.900,-117.800,WINNEMUCCA,NV,US,12/6/2018,12/18/2018,7,38,22.5,16.9,40.5
4017,KWMC,40.900,-117.800,WINNEMUCCA,NV,US,12/6/2018,12/19/2018,3,34,18.5,16.9,40.5
4018,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/6/2018,16,34,25.0,22.1,37.7
4019,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/7/2018,18,34,26.0,21.9,37.4
4020,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/8/2018,22,34,28.0,21.8,37.0
4021,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/9/2018,23,36,29.5,21.6,36.7
4022,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/10/2018,22,41,31.5,21.4,36.3
4023,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/11/2018,25,41,33.0,21.3,36.0
4024,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/12/2018,22,44,33.0,21.2,35.8
4025,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/13/2018,22,39,30.5,21.1,35.5
4026,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/14/2018,20,40,30.0,21.0,35.3
4027,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/15/2018,22,38,30.0,20.9,35.1
4028,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/16/2018,23,39,31.0,20.8,34.9
4029,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/17/2018,22,39,30.5,20.7,34.7
4030,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/18/2018,21,40,30.5,20.7,34.6
4031,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/19/2018,20,38,29.0,20.6,34.5
4032,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/6/2018,25,36,30.5,27.1,39.6
4033,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/7/2018,20,29,24.5,26.8,39.2
4034,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/8/2018,19,33,26.0,26.4,38.8
4035,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/9/2018,20,37,28.5,26.1,38.4
4036,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/10/2018,22,36,29.0,25.7,38.0
4037,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/11/2018,21,37,29.0,25.4,37.6
4038,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/12/2018,26,40,33.0,25.0,37.3
4039,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/13/2018,32,43,37.5,24.7,37.0
4040,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/14/2018,30,38,34.0,24.3,36.6
4041,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/15/2018,29,40,34.5,24.0,36.3
4042,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/16/2018,27,39,33.0,23.7,36.0
4043,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/17/2018,24,36,30.0,23.4,35.7
4044,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/18/2018,26,39,32.5,23.1,35.5
4045,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/19/2018,27,40,33.5,22.8,35.2

In [23]:
new_df1.loc()

In [24]:
new_df1.head()

,station_id,lat,lon,station_name,state,country,production_date,forecast_date,fcst_mn,fcst_mx,fcst_avg,norm_mn,norm_mx,id
126,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/6/2018,27,39,33.0,26.8,43.7,126
127,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/7/2018,21,37,29.0,26.5,43.3,127
128,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/8/2018,22,36,29.0,26.1,42.9,128
129,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/9/2018,24,38,31.0,25.8,42.5,129
130,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/10/2018,22,41,31.5,25.5,42.2,130

In [25]:
new_df1 = new_df1.reset_index()

In [26]:
new_df1.head()

,index,station_id,lat,lon,station_name,state,country,production_date,forecast_date,fcst_mn,fcst_mx,fcst_avg,norm_mn,norm_mx,id
0,126,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/6/2018,27,39,33.0,26.8,43.7,126
1,127,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/7/2018,21,37,29.0,26.5,43.3,127
2,128,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/8/2018,22,36,29.0,26.1,42.9,128
3,129,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/9/2018,24,38,31.0,25.8,42.5,129
4,130,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/10/2018,22,41,31.5,25.5,42.2,130

In [27]:
del new_df1["index"]

In [28]:
del new_df1["id"]

In [29]:
new_df1.head()

,station_id,lat,lon,station_name,state,country,production_date,forecast_date,fcst_mn,fcst_mx,fcst_avg,norm_mn,norm_mx
0,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/6/2018,27,39,33.0,26.8,43.7
1,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/7/2018,21,37,29.0,26.5,43.3
2,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/8/2018,22,36,29.0,26.1,42.9
3,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/9/2018,24,38,31.0,25.8,42.5
4,KABE,40.65,-75.45,ALLENTOWN,PA,US,12/6/2018,12/10/2018,22,41,31.5,25.5,42.2

In [30]:
day_df = new_df1.loc[new_df1["forecast_date"] == "12/6/2018",:]

In [31]:
day_df

,station_id,lat,lon,station_name,state,country,production_date,forecast_date,fcst_mn,fcst_mx,fcst_avg,norm_mn,norm_mx
0,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/6/2018,27,39,33.0,26.8,43.7
14,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/6/2018,37,60,48.5,35.2,58.4
28,KABQ,35.050,-106.617,ALBUQUERQUE,NM,US,12/6/2018,12/6/2018,30,51,40.5,27.6,47.4
42,KABR,45.460,-98.410,ABERDEEN,SD,US,12/6/2018,12/6/2018,7,22,14.5,8.9,28.3
56,KACT,31.617,-97.233,WACO,TX,US,12/6/2018,12/6/2018,47,62,54.5,39.1,60.8
70,KACV,40.983,-124.100,ARCATA/EUREKA,CA,US,12/6/2018,12/6/2018,35,56,45.5,39.0,54.2
84,KACY,39.467,-74.583,ATLANTIC CITY,NJ,US,12/6/2018,12/6/2018,28,41,34.5,31.1,48.8
98,KAGS,33.367,-81.967,AUGUSTA/BUSH,GA,US,12/6/2018,12/6/2018,31,52,41.5,36.1,62.4
112,KAHN,33.950,-83.333,ATHENS,GA,US,12/6/2018,12/6/2018,30,48,39.0,36.7,58.0
126,KAKR,41.033,-81.467,AKRON (FULTON),OH,US,12/6/2018,12/6/2018,26,38,32.0,27.1,39.7
140,KALB,42.750,-73.800,ALBANY,NY,US,12/6/2018,12/6/2018,25,39,32.0,24.9,39.3
154,KALO,42.550,-92.400,WATERLOO,IA,US,12/6/2018,12/6/2018,10,27,18.5,16.4,34.0
168,KALW,46.100,-118.283,WALLA WALLA,WA,US,12/6/2018,12/6/2018,21,35,28.0,29.6,39.8
182,KAMA,35.217,-101.717,AMARILLO,TX,US,12/6/2018,12/6/2018,23,40,31.5,25.1,51.0
196,KANJ,46.467,-84.367,SAULT STE MARIE,MI,US,12/6/2018,12/6/2018,3,26,14.5,20.0,31.7
210,KAPC,38.200,-122.283,NAPA,CA,US,12/6/2018,12/6/2018,34,58,46.0,36.2,57.0
224,KAPN,45.067,-83.567,ALPENA,MI,US,12/6/2018,12/6/2018,15,31,23.0,21.7,34.7
238,KAST,46.150,-123.883,ASTORIA,OR,US,12/6/2018,12/6/2018,30,46,38.0,36.9,49.3
252,KATL,33.633,-84.450,ATLANTA,GA,US,12/6/2018,12/6/2018,28,50,39.0,38.4,56.3
266,KATT,30.317,-97.767,AUSTIN/MABRY,TX,US,12/6/2018,12/6/2018,52,64,58.0,43.7,64.4
280,KAUS,30.183,-97.683,AUSTIN,TX,US,12/6/2018,12/6/2018,50,62,56.0,38.7,65.0
294,KAVL,35.433,-82.533,ASHEVILLE,NC,US,12/6/2018,12/6/2018,27,46,36.5,31.0,51.6
308,KAVP,41.333,-75.717,AVOCA/WILKES B.,PA,US,12/6/2018,12/6/2018,24,36,30.0,27.0,40.6
322,KAZO,42.233,-85.550,KALAMAZOO,MI,US,12/6/2018,12/6/2018,25,32,28.5,25.7,37.8
336,KBAF,42.167,-72.717,WESTFIELD,MA,US,12/6/2018,12/6/2018,24,39,31.5,24.8,41.3
350,KBAZ,29.717,-98.050,NEW BRAUNFELS,TX,US,12/6/2018,12/6/2018,52,69,60.5,42.4,65.5
364,KBDL,41.933,-72.683,WINDSOR LOCKS,CT,US,12/6/2018,12/6/2018,25,40,32.5,26.9,43.1
378,KBDR,41.167,-73.133,BRIDGEPORT,CT,US,12/6/2018,12/6/2018,31,40,35.5,31.7,45.5
392,KBFF,41.867,-103.583,SCOTTSBLUFF,NE,US,12/6/2018,12/6/2018,13,34,23.5,13.5,40.6
406,KBFL,35.433,-119.050,BAKERSFIELD,CA,US,12/6/2018,12/6/2018,42,59,50.5,39.5,58.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3500,KSJC,37.367,-121.917,SAN JOSE,CA,US,12/6/2018,12/6/2018,40,59,49.5,42.8,62.4
3514,KSJT,31.367,-100.500,SAN ANGELO,TX,US,12/6/2018,12/6/2018,36,65,50.5,34.8,61.3
3528,KSLC,40.783,-111.967,SALT LAKE CITY,UT,US,12/6/2018,12/6/2018,24,31,27.5,23.8,39.7
3542,KSLE,44.900,-123.000,SALEM,OR,US,12/6/2018,12/6/2018,24,43,33.5,34.7,47.2
3556,KSNS,36.667,-121.600,SALINAS,CA,US,12/6/2018,12/6/2018,40,63,51.5,41.4,61.9
3570,KSPI,39.850,-89.683,SPRINGFIELD,IL,US,12/6/2018,12/6/2018,17,34,25.5,25.1,41.4
3584,KSPS,33.983,-98.500,WICHITA FALL,TX,US,12/6/2018,12/6/2018,35,60,47.5,32.3,56.5
3598,KSRQ,27.400,-82.567,SARASOTA/BRADENT,FL,US,12/6/2018,12/6/2018,51,74,62.5,55.3,74.9
3612,KSTC,45.550,-94.050,ST. CLOUD,MN,US,12/6/2018,12/6/2018,-3,20,8.5,10.5,27.6
3626,KSTL,38.750,-90.367,ST. LOUIS,MO,US,12/6/2018,12/6/2018,21,38,29.5,29.4,45.2
3640,KSTS,38.500,-122.817,SANTA ROSA,CA,US,12/6/2018,12/6/2018,32,60,46.0,37.1,57.3
3654,KSUX,42.383,-96.383,SIOUX CITY,IA,US,12/6/2018,12/6/2018,-4,24,10.0,15.5,34.6
3668,KSYR,43.117,-76.100,SYRACUSE,NY,US,12/6/2018,12/6/2018,22,36,29.0,26.0,39.6
3682,KTHV,39.917,-76.883,YORK,PA,US,12/6/2018,12/6/2018,25,38,31.5,27.5,45.2
3696,KTLH,30.400,-84.350,TALLAHASSEE,FL,US,12/6/2018,12/6/2018,35,58,46.5,42.7,67.2
3710,KTOL,41.583,-83.800,TOLEDO,OH,US,12/6/2018,12/6/2018,23,37,30.0,25.9,39.4
3724,KTOP,39.067,-95.633,TOPEKA,KS,US,12/6/2018,12/6/2018,18,35,26.5,24.4,44.1
3738,KTPA,27.967,-82.533,TAMPA,FL,US,12/6/2018,12/6/2018,48,71,59.5,56.1,73.7
3752,KTTN,40.283,-74.817,TRENTON,NJ,US,12/6/2018,12/6/2018,28,38,33.0,30.8,46.0
3766,KTUL,36.200,-95.883,TULSA,OK,US,12/6/2018,12/6/2018,30,50,40.0,31.5,51.5
3780,KTUS,32.133,-110.950,TUCSON,AZ,US,12/6/2018,12/6/2018,48,70,59.0,39.9,66.0
3794,KTYR,32.367,-95.400,TYLER,TX,US,12/6/2018,12/6/2018,47,61,54.0,40.2,58.8
3808,KTYS,35.817,-83.983,KNOXVILLE,TN,US,12/6/2018,12/6/2018,30,44,37.0,33.4,52.2
3822,KUIL,47.933,-124.550,QUILLAYUTE,WA,US,12/6/2018,12/6/2018,28,46,37.0,34.9,46.6
3836,KVCT,28.867,-96.933,VICTORIA,TX,US,12/6/2018,12/6/2018,60,73,66.5,45.7,67.8
3850,KVIS,36.313,-119.388,Visalia Airport,CA,US,12/6/2018,12/6/2018,40,57,48.5,38.4,56.1
3864,KVTN,42.867,-100.550,VALENTINE,NE,US,12/6/2018,12/6/2018,3,21,12.0,12.5,37.8
3878,KWMC,40.900,-117.800,WINNEMUCCA,NV,US,12/6/2018,12/6/2018,2,31,16.5,18.2,42.7
3892,KYKM,46.567,-120.533,YAKIMA,WA,US,12/6/2018,12/6/2018,16,34,25.0,22.1,37.7
3906,KYNG,41.250,-80.667,YOUNGSTOWN,OH,US,12/6/2018,12/6/2018,25,36,30.5,27.1,39.6

In [32]:
day_df["station_id"].nunique()

280

In [33]:
day_df = day_df.reset_index()

In [34]:
day_df.head()

,index,station_id,lat,lon,station_name,state,country,production_date,forecast_date,fcst_mn,fcst_mx,fcst_avg,norm_mn,norm_mx
0,0,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/6/2018,27,39,33.0,26.8,43.7
1,14,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/6/2018,37,60,48.5,35.2,58.4
2,28,KABQ,35.050,-106.617,ALBUQUERQUE,NM,US,12/6/2018,12/6/2018,30,51,40.5,27.6,47.4
3,42,KABR,45.460,-98.410,ABERDEEN,SD,US,12/6/2018,12/6/2018,7,22,14.5,8.9,28.3
4,56,KACT,31.617,-97.233,WACO,TX,US,12/6/2018,12/6/2018,47,62,54.5,39.1,60.8

In [35]:
del day_df["index"]

In [36]:
day_df.head()

,station_id,lat,lon,station_name,state,country,production_date,forecast_date,fcst_mn,fcst_mx,fcst_avg,norm_mn,norm_mx
0,KABE,40.650,-75.450,ALLENTOWN,PA,US,12/6/2018,12/6/2018,27,39,33.0,26.8,43.7
1,KABI,32.417,-99.683,ABILENE,TX,US,12/6/2018,12/6/2018,37,60,48.5,35.2,58.4
2,KABQ,35.050,-106.617,ALBUQUERQUE,NM,US,12/6/2018,12/6/2018,30,51,40.5,27.6,47.4
3,KABR,45.460,-98.410,ABERDEEN,SD,US,12/6/2018,12/6/2018,7,22,14.5,8.9,28.3
4,KACT,31.617,-97.233,WACO,TX,US,12/6/2018,12/6/2018,47,62,54.5,39.1,60.8

In [37]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float 
from sqlalchemy.ext.automap import automap_base
import pymysql
pymysql.install_as_MySQLdb()

In [38]:
Base = declarative_base()

class Data(Base):
    __tablename__ = 'data'
    id = Column(Integer, primary_key=True)
    station_id = Column(String(255))
    lat = Column(Integer)
    lon = Column(Integer)
    station_name = Column(String(255))
    state = Column(String(255))
    country = Column(String(255))
    production_date = Column(Integer)
    forecast_date = Column(Integer)
    #fcst_mn = Column(Integer)
    #fcst_mx = Column(Integer)
    fcst_avg = Column(Integer)
    norm_mn = Column(Integer)
    norm_mx = Column(Integer)

In [39]:
engine = create_engine("sqlite:///data.sqlite")
conn = engine.connect()

In [40]:
Base.metadata.create_all(engine)

In [41]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [42]:
for i in range(len(day_df)):
    data = Data(station_id=day_df["station_id"][i],
                lat=day_df["lat"][i],
                lon=day_df["lon"][i],
                station_name=day_df["station_name"][i],
                state=day_df["state"][i],
                country=day_df["country"][i],
                production_date=day_df["production_date"][i],
                forecast_date=day_df["forecast_date"][i],
                #fcst_mn=new_df1["fcst_mn"][i],
                #fcst_mx=new_df1["fcst_mx"][i],
                fcst_avg=day_df["fcst_avg"][i],
                norm_mn=day_df["norm_mn"][i],
                norm_mx=day_df["norm_mx"][i])
    session.add(data)
    session.commit()

In [43]:
qaz = engine.execute("SELECT * FROM data")

In [44]:
for record in qaz:
    print(record)

(1, 'KABE', 40.65, -75.45, 'ALLENTOWN       ', 'PA', 'US', '12/6/2018', '12/6/2018', 33, 26.8, 43.7)
(2, 'KABI', 32.417, -99.68299999999999, 'ABILENE         ', 'TX', 'US', '12/6/2018', '12/6/2018', 48.5, 35.2, 58.4)
(3, 'KABQ', 35.05, -106.617, 'ALBUQUERQUE     ', 'NM', 'US', '12/6/2018', '12/6/2018', 40.5, 27.6, 47.4)
(4, 'KABR', 45.46, -98.41, 'ABERDEEN', 'SD', 'US', '12/6/2018', '12/6/2018', 14.5, 8.9, 28.3)
(5, 'KACT', 31.616999999999997, -97.23299999999999, 'WACO            ', 'TX', 'US', '12/6/2018', '12/6/2018', 54.5, 39.1, 60.8)
(6, 'KACV', 40.983000000000004, -124.1, 'ARCATA/EUREKA   ', 'CA', 'US', '12/6/2018', '12/6/2018', 45.5, 39, 54.2)
(7, 'KACY', 39.467, -74.583, 'ATLANTIC CITY   ', 'NJ', 'US', '12/6/2018', '12/6/2018', 34.5, 31.1, 48.8)
(8, 'KAGS', 33.367, -81.96700000000001, 'AUGUSTA/BUSH    ', 'GA', 'US', '12/6/2018', '12/6/2018', 41.5, 36.1, 62.4)
(9, 'KAHN', 33.95, -83.333, 'ATHENS          ', 'GA', 'US', '12/6/2018', '12/6/2018', 39, 36.7, 58)
(10, 'KAKR', 41.033, -81.467, 'AKRON (FULTON)  ', 'OH', 'US', '12/6/2018', '12/6/2018', 32, 27.1, 39.7)
(11, 'KALB', 42.75, -73.8, 'ALBANY          ', 'NY', 'US', '12/6/2018', '12/6/2018', 32, 24.9, 39.3)
(12, 'KALO', 42.55, -92.4, 'WATERLOO        ', 'IA', 'US', '12/6/2018', '12/6/2018', 18.5, 16.4, 34)
(13, 'KALW', 46.1, -118.28299999999999, 'WALLA WALLA     ', 'WA', 'US', '12/6/2018', '12/6/2018', 28, 29.6, 39.8)
(14, 'KAMA', 35.217, -101.71700000000001, 'AMARILLO        ', 'TX', 'US', '12/6/2018', '12/6/2018', 31.5, 25.1, 51)
(15, 'KANJ', 46.467, -84.367, 'SAULT STE MARIE', 'MI', 'US', '12/6/2018', '12/6/2018', 14.5, 20, 31.7)
(16, 'KAPC', 38.2, -122.28299999999999, 'NAPA            ', 'CA', 'US', '12/6/2018', '12/6/2018', 46, 36.2, 57)
(17, 'KAPN', 45.067, -83.56700000000001, 'ALPENA          ', 'MI', 'US', '12/6/2018', '12/6/2018', 23, 21.7, 34.7)
(18, 'KAST', 46.15, -123.883, 'ASTORIA         ', 'OR', 'US', '12/6/2018', '12/6/2018', 38, 36.9, 49.3)
(19, 'KATL', 33.633, -84.45, 'ATLANTA         ', 'GA', 'US', '12/6/2018', '12/6/2018', 39, 38.4, 56.3)
(20, 'KATT', 30.316999999999997, -97.76700000000001, 'AUSTIN/MABRY    ', 'TX', 'US', '12/6/2018', '12/6/2018', 58, 43.7, 64.4)
(21, 'KAUS', 30.183000000000003, -97.68299999999999, 'AUSTIN          ', 'TX', 'US', '12/6/2018', '12/6/2018', 56, 38.7, 65)
(22, 'KAVL', 35.433, -82.53299999999999, 'ASHEVILLE       ', 'NC', 'US', '12/6/2018', '12/6/2018', 36.5, 31, 51.6)
(23, 'KAVP', 41.333, -75.717, 'AVOCA/WILKES B. ', 'PA', 'US', '12/6/2018', '12/6/2018', 30, 27, 40.6)
(24, 'KAZO', 42.233000000000004, -85.55, 'KALAMAZOO       ', 'MI', 'US', '12/6/2018', '12/6/2018', 28.5, 25.7, 37.8)
(25, 'KBAF', 42.167, -72.717, 'WESTFIELD       ', 'MA', 'US', '12/6/2018', '12/6/2018', 31.5, 24.8, 41.3)
(26, 'KBAZ', 29.717, -98.05, 'NEW BRAUNFELS   ', 'TX', 'US', '12/6/2018', '12/6/2018', 60.5, 42.4, 65.5)
(27, 'KBDL', 41.933, -72.683, 'WINDSOR LOCKS   ', 'CT', 'US', '12/6/2018', '12/6/2018', 32.5, 26.9, 43.1)
(28, 'KBDR', 41.167, -73.133, 'BRIDGEPORT      ', 'CT', 'US', '12/6/2018', '12/6/2018', 35.5, 31.7, 45.5)
(29, 'KBFF', 41.867, -103.583, 'SCOTTSBLUFF     ', 'NE', 'US', '12/6/2018', '12/6/2018', 23.5, 13.5, 40.6)
(30, 'KBFL', 35.433, -119.05, 'BAKERSFIELD     ', 'CA', 'US', '12/6/2018', '12/6/2018', 50.5, 39.5, 58.4)
(31, 'KBGM', 42.217, -75.983, 'BINGHAMTON      ', 'NY', 'US', '12/6/2018', '12/6/2018', 27.5, 24.3, 36.4)
(32, 'KBHM', 33.567, -86.75, 'BIRMINGHAM      ', 'AL', 'US', '12/6/2018', '12/6/2018', 39.5, 38, 58.1)
(33, 'KBIL', 45.8, -108.55, 'BILLINGS', 'MT', 'US', '12/6/2018', '12/6/2018', 22, 19.2, 36.1)
(34, 'KBIS', 46.766999999999996, -100.75, 'BISMARCK        ', 'ND', 'US', '12/6/2018', '12/6/2018', 17, 9.1, 28.9)
(35, 'KBKL', 41.533, -81.667, 'CLEVELAND       ', 'OH', 'US', '12/6/2018', '12/6/2018', 31.5, 32.6, 42.7)
(36, 'KBKW', 37.8, -81.117, 'BECKLEY         ', 'WV', 'US', '12/6/2018', '12/6/2018', 31, 28.6, 44.7)
(37, 'KBNA', 36.117, -86.68299999999999, 'NASHVILLE       ', 'TN', 'US', '12/6/2018', '12/6/2018', 40, 33.2, 51.9)
(38, 'KBNO', 43.6, -118.95, 'BURNS           ', 'OR', 'US', '12/6/2018', '12/6/2018', 8, 15.3, 35.6)
(39, 'KBOI', 43.567, -116.23299999999999, 'BOISE           ', 'ID', 'US', '12/6/2018', '12/6/2018', 17, 25.4, 39.1)
(40, 'KBOS', 42.367, -71.017, 'BOSTON          ', 'MA', 'US', '12/6/2018', '12/6/2018', 35, 31.6, 44.4)
(41, 'KBPT', 29.95, -94.03299999999999, 'BEAUMONT/PORT AR', 'TX', 'US', '12/6/2018', '12/6/2018', 60, 46.3, 65.5)
(42, 'KBRO', 25.916999999999998, -97.417, 'BROWNSVILLE     ', 'TX', 'US', '12/6/2018', '12/6/2018', 71.5, 54.3, 73.5)
(43, 'KBTR', 30.533, -91.15, 'BATON ROUGE     ', 'LA', 'US', '12/6/2018', '12/6/2018', 52, 44, 65.8)
(44, 'KBTV', 44.467, -73.15, 'BURLINGTON      ', 'VT', 'US', '12/6/2018', '12/6/2018', 27.5, 23, 36.8)
(45, 'KBUF', 42.933, -78.733, 'BUFFALO/CHEEKTOW', 'NY', 'US', '12/6/2018', '12/6/2018', 28.5, 27.1, 39.1)
(46, 'KBUR', 34.2, -118.367, 'BURBANK         ', 'CA', 'US', '12/6/2018', '12/6/2018', 52, 41.6, 67.5)
(47, 'KBWI', 39.167, -76.683, 'BALTO/WASH INTL ', 'MD', 'US', '12/6/2018', '12/6/2018', 34, 30.5, 48.1)
(48, 'KCAE', 33.933, -81.117, 'COLUMBIA        ', 'SC', 'US', '12/6/2018', '12/6/2018', 42, 37, 60.6)
(49, 'KCAK', 40.917, -81.45, 'AKRON           ', 'OH', 'US', '12/6/2018', '12/6/2018', 31, 26.9, 40)
(50, 'KCAR', 46.867, -68.017, 'CARIBOU         ', 'ME', 'US', '12/6/2018', '12/6/2018', 14.5, 15.3, 29.6)
(51, 'KCHA', 35.033, -85.2, 'CHATTANOOGA     ', 'TN', 'US', '12/6/2018', '12/6/2018', 38.5, 34.7, 54.3)
(52, 'KCHO', 38.133, -78.45, 'CHARLOTTESVILLE ', 'VA', 'US', '12/6/2018', '12/6/2018', 36, 30.6, 49.4)
(53, 'KCHS', 32.9, -80.033, 'CHARLESTON      ', 'SC', 'US', '12/6/2018', '12/6/2018', 44, 42.1, 64)
(54, 'KCKB', 39.3, -80.217, 'CLARKSBURG      ', 'WV', 'US', '12/6/2018', '12/6/2018', 34, 28.3, 45.8)
(55, 'KCLE', 41.417, -81.85, 'CLEVELAND       ', 'OH', 'US', '12/6/2018', '12/6/2018', 32, 29.6, 41.4)
(56, 'KCLL', 30.583000000000002, -96.367, 'COLLEGE STATION ', 'TX', 'US', '12/6/2018', '12/6/2018', 60, 43.6, 64.1)
(57, 'KCLT', 35.217, -80.95, 'CHARLOTTE       ', 'NC', 'US', '12/6/2018', '12/6/2018', 39.5, 33.7, 55.3)
(58, 'KCMH', 40, -82.883, 'COLUMBUS        ', 'OH', 'US', '12/6/2018', '12/6/2018', 31, 29.4, 43)
(59, 'KCNK', 39.55, -97.65, 'CONCORDIA       ', 'KS', 'US', '12/6/2018', '12/6/2018', 27, 22.2, 41.5)
(60, 'KCON', 43.2, -71.5, 'CONCORD         ', 'NH', 'US', '12/6/2018', '12/6/2018', 29.5, 21.2, 39.7)
(61, 'KCOS', 38.817, -104.71700000000001, 'COLORADO SPRINGS', 'CO', 'US', '12/6/2018', '12/6/2018', 28, 18.3, 42.6)
(62, 'KCOU', 38.817, -92.21700000000001, 'COLUMBIA        ', 'MO', 'US', '12/6/2018', '12/6/2018', 28, 26.1, 43.7)
(63, 'KCPR', 42.9, -106.46700000000001, 'CASPER          ', 'WY', 'US', '12/6/2018', '12/6/2018', 12.5, 14.3, 34.9)
(64, 'KCQT', 34.016999999999996, -118.28299999999999, 'LOS ANGELES     ', 'CA', 'US', '12/6/2018', '12/6/2018', 56.5, 48, 68.1)
(65, 'KCRP', 27.767, -97.5, 'CORPUS CHRISTI  ', 'TX', 'US', '12/6/2018', '12/6/2018', 70, 50.2, 70.1)
(66, 'KCRW', 38.383, -81.583, 'CHARLESTON      ', 'WV', 'US', '12/6/2018', '12/6/2018', 34.5, 31.4, 48.3)
(67, 'KCSG', 32.516999999999996, -84.95, 'COLUMBUS        ', 'GA', 'US', '12/6/2018', '12/6/2018', 42.5, 40.6, 61.5)
(68, 'KCVG', 39.05, -84.667, 'COVINGTON       ', 'KY', 'US', '12/6/2018', '12/6/2018', 32, 29.1, 44.4)
(69, 'KCXY', 40.217, -76.85, 'HARRISBURG      ', 'PA', 'US', '12/6/2018', '12/6/2018', 34, 29.8, 44.6)
(70, 'KCYS', 41.15, -104.81700000000001, 'CHEYENNE        ', 'WY', 'US', '12/6/2018', '12/6/2018', 18.5, 17.7, 38.4)
(71, 'KDAB', 29.183000000000003, -81.067, 'DAYTONA BEACH   ', 'FL', 'US', '12/6/2018', '12/6/2018', 61, 52.6, 72.1)
(72, 'KDAL', 32.85, -96.85, 'DALLAS/LOVE FLD ', 'TX', 'US', '12/6/2018', '12/6/2018', 53.5, 40.1, 59.3)
(73, 'KDAY', 39.9, -84.21700000000001, 'DAYTON          ', 'OH', 'US', '12/6/2018', '12/6/2018', 30.5, 27, 41)
(74, 'KDBQ', 42.4, -90.7, 'DUBUQUE         ', 'IA', 'US', '12/6/2018', '12/6/2018', 19.5, 18.4, 33.4)
(75, 'KDCA', 38.85, -77.033, 'WASHINGTON/NATL ', 'DC', 'US', '12/6/2018', '12/6/2018', 39.5, 35, 49.6)
(76, 'KDDC', 37.766999999999996, -99.96700000000001, 'DODGE CITY      ', 'KS', 'US', '12/6/2018', '12/6/2018', 27.5, 22.5, 45.9)
(77, 'KDEN', 39.833, -104.65, 'DENVER', 'CO', 'US', '12/6/2018', '12/6/2018', 21.5, 17.6, 43.6)
(78, 'KDFW', 32.9, -97.01700000000001, 'DALLAS/FT WORTH ', 'TX', 'US', '12/6/2018', '12/6/2018', 49, 38.8, 58.9)
(79, 'KDLH', 46.85, -92.2, 'DULUTH          ', 'MN', 'US', '12/6/2018', '12/6/2018', 7.5, 11, 25.1)
(80, 'KDOV', 39.133, -75.467, 'Dover AFB', 'DE', 'US', '12/6/2018', '12/6/2018', 35, 33.2, 50)
(81, 'KDRT', 29.366999999999997, -100.917, 'DEL RIO         ', 'TX', 'US', '12/6/2018', '12/6/2018', 59.5, 42.1, 65.3)
(82, 'KDSM', 41.533, -93.667, 'DES MOINES      ', 'IA', 'US', '12/6/2018', '12/6/2018', 20.5, 20.6, 36.8)
(83, 'KDTW', 42.233000000000004, -83.333, 'DETROIT/WAYNE   ', 'MI', 'US', '12/6/2018', '12/6/2018', 29.5, 27.1, 39.1)
(84, 'KDVN', 41.617, -90.583, 'DAVENPORT/QUAD C', 'IA', 'US', '12/6/2018', '12/6/2018', 22.5, 20.5, 36.4)
(85, 'KEAU', 44.867, -91.46700000000001, 'EAU CLAIRE      ', 'WI', 'US', '12/6/2018', '12/6/2018', 5.5, 13.9, 30.1)
(86, 'KELP', 31.816999999999997, -106.383, 'EL PASO         ', 'TX', 'US', '12/6/2018', '12/6/2018', 57, 33.6, 58.5)
(87, 'KELY', 39.3, -114.85, 'ELY             ', 'NV', 'US', '12/6/2018', '12/6/2018', 20.5, 11.9, 40.5)
(88, 'KERI', 42.083, -80.183, 'ERIE            ', 'PA', 'US', '12/6/2018', '12/6/2018', 32, 29.7, 41.1)
(89, 'KEUG', 44.133, -123.21700000000001, 'EUGENE          ', 'OR', 'US', '12/6/2018', '12/6/2018', 33, 34.5, 46.5)
(90, 'KEVV', 38.05, -87.51700000000001, 'EVANSVILLE      ', 'IN', 'US', '12/6/2018', '12/6/2018', 33, 29.2, 46.7)
(91, 'KEWR', 40.683, -74.167, 'NEWARK          ', 'NJ', 'US', '12/6/2018', '12/6/2018', 35, 32.6, 46.6)
(92, 'KEYW', 24.55, -81.75, 'KEY WEST        ', 'FL', 'US', '12/6/2018', '12/6/2018', 74.5, 68.6, 77.2)
(93, 'KFAR', 46.933, -96.81700000000001, 'FARGO           ', 'ND', 'US', '12/6/2018', '12/6/2018', 12, 9.3, 25.5)
(94, 'KFAT', 36.783, -119.71700000000001, 'FRESNO          ', 'CA', 'US', '12/6/2018', '12/6/2018', 45.5, 38.6, 56.9)
(95, 'KFLG', 35.133, -111.667, 'FLAGSTAFF       ', 'AZ', 'US', '12/6/2018', '12/6/2018', 29.5, 17.5, 43.6)
(96, 'KFMY', 26.583000000000002, -81.867, 'FORT MYERS      ', 'FL', 'US', '12/6/2018', '12/6/2018', 63.5, 58.2, 78.1)
(97, 'KFNT', 42.967, -83.75, 'FLINT           ', 'MI', 'US', '12/6/2018', '12/6/2018', 24.5, 23.9, 37.2)
(98, 'KFSD', 43.583, -96.75, 'SIOUX FALLS     ', 'SD', 'US', '12/6/2018', '12/6/2018', 14.5, 12.4, 31)
(99, 'KFSM', 35.333, -94.367, 'FORT SMITH      ', 'AR', 'US', '12/6/2018', '12/6/2018', 43, 33.1, 53.7)
(100, 'KFTW', 32.833, -97.367, 'FORT WORTH      ', 'TX', 'US', '12/6/2018', '12/6/2018', 51.5, 38, 58.9)
(101, 'KFTY', 33.783, -84.51700000000001, 'ATLANTA/FULTON  ', 'GA', 'US', '12/6/2018', '12/6/2018', 39.5, 36.7, 56.8)
(102, 'KFWA', 40.983000000000004, -85.18299999999999, 'FORT WAYNE      ', 'IN', 'US', '12/6/2018', '12/6/2018', 29.5, 25, 39.2)
(103, 'KFYV', 36.016999999999996, -94.167, 'FAYETTEVILLE    ', 'AR', 'US', '12/6/2018', '12/6/2018', 37.5, 28.8, 50.1)
(104, 'KGAG', 36.3, -99.76700000000001, 'GAGE            ', 'OK', 'US', '12/6/2018', '12/6/2018', 29.5, 22.9, 50.5)
(105, 'KGEG', 47.617, -117.53299999999999, 'SPOKANE/METRO   ', 'WA', 'US', '12/6/2018', '12/6/2018', 26, 23.7, 33.2)
(106, 'KGFK', 47.95, -97.18299999999999, 'GRAND FORKS     ', 'ND', 'US', '12/6/2018', '12/6/2018', 10.5, 6.1, 23.4)
(107, 'KGGW', 48.217, -106.617, 'GLASGOW         ', 'MT', 'US', '12/6/2018', '12/6/2018', 3.5, 9.3, 28.8)
(108, 'KGJT', 39.117, -108.51700000000001, 'GRAND JUNCTION  ', 'CO', 'US', '12/6/2018', '12/6/2018', 29, 20.3, 40.4)
(109, 'KGLD', 39.367, -101.7, 'GOODLAND        ', 'KS', 'US', '12/6/2018', '12/6/2018', 25.5, 18.3, 43.4)
(110, 'KGLS', 29.267, -94.867, 'GALVESTON       ', 'TX', 'US', '12/6/2018', '12/6/2018', 65.5, 52.4, 65.5)
(111, 'KGPI', 48.317, -114.25, 'KALISPELL       ', 'MT', 'US', '12/6/2018', '12/6/2018', 18.5, 17.8, 31.2)
(112, 'KGRB', 44.483000000000004, -88.133, 'ASHWAUBENON     ', 'WI', 'US', '12/6/2018', '12/6/2018', 13, 17.7, 31.7)
(113, 'KGRI', 40.967, -98.31700000000001, 'GRAND ISLAND    ', 'NE', 'US', '12/6/2018', '12/6/2018', 11.5, 18.2, 38.9)
(114, 'KGRR', 42.883, -85.51700000000001, 'GRAND RAPIDS    ', 'MI', 'US', '12/6/2018', '12/6/2018', 28.5, 26.4, 37.7)
(115, 'KGSO', 36.1, -79.95, 'GREENSBORO      ', 'NC', 'US', '12/6/2018', '12/6/2018', 37, 33.9, 53.1)
(116, 'KGSP', 34.9, -82.21700000000001, 'GREER/SPARTANSBG', 'SC', 'US', '12/6/2018', '12/6/2018', 38, 35.7, 56.3)
(117, 'KGTF', 47.467, -111.383, 'GREAT FALLS     ', 'MT', 'US', '12/6/2018', '12/6/2018', 20.5, 16.5, 35.4)
(118, 'KGWO', 33.5, -90.083, 'GREENWOOD       ', 'MS', 'US', '12/6/2018', '12/6/2018', 44.5, 37, 58.6)
(119, 'KHFD', 41.733000000000004, -72.65, 'HARTFORD/BRAINAR', 'CT', 'US', '12/6/2018', '12/6/2018', 34, 27.9, 44.1)
(120, 'KHLN', 46.6, -111.96700000000001, 'HELENA          ', 'MT', 'US', '12/6/2018', '12/6/2018', 17, 13.7, 33.2)
(121, 'KHON', 44.383, -98.23299999999999, 'HURON           ', 'SD', 'US', '12/6/2018', '12/6/2018', 17, 12.1, 31.5)
(122, 'KHOU', 29.633000000000003, -95.28299999999999, 'HOUSTON/HOBBY   ', 'TX', 'US', '12/6/2018', '12/6/2018', 64.5, 48.2, 66.2)
(123, 'KHSE', 35.233000000000004, -75.617, 'HATTERAS/MITCHEL', 'NC', 'US', '12/6/2018', '12/6/2018', 44.5, 45.3, 58.3)
(124, 'KHSP', 37.95, -79.817, 'HOT SPRINGS/INGA', 'VA', 'US', '12/6/2018', '12/6/2018', 28, 25.7, 44.7)
(125, 'KHSV', 34.65, -86.78299999999999, 'HUNTSVILLE      ', 'AL', 'US', '12/6/2018', '12/6/2018', 40.5, 36.2, 55.7)
(126, 'KHTL', 44.35, -84.667, 'HOUGHTON LAKE   ', 'MI', 'US', '12/6/2018', '12/6/2018', 22, 20.8, 33.3)
(127, 'KHTS', 38.367, -82.55, 'HUNTINGTON      ', 'WV', 'US', '12/6/2018', '12/6/2018', 35, 30.8, 48)
(128, 'KHVN', 41.266999999999996, -72.867, 'NEW HAVEN/TWEED ', 'CT', 'US', '12/6/2018', '12/6/2018', 34, 31.6, 46.1)
(129, 'KHVR', 48.55, -109.76700000000001, 'HAVRE           ', 'MT', 'US', '12/6/2018', '12/6/2018', 16.5, 10.4, 32.3)
(130, 'KIAD', 38.933, -77.45, 'WASH DC/DULLES  ', 'VA', 'US', '12/6/2018', '12/6/2018', 33, 29.4, 48.9)
(131, 'KIAH', 30, -95.367, 'HOUSTON/INTNL   ', 'TX', 'US', '12/6/2018', '12/6/2018', 62.5, 46.1, 66)
(132, 'KICT', 37.65, -97.43299999999999, 'WICHITA         ', 'KS', 'US', '12/6/2018', '12/6/2018', 31, 26, 45.9)
(133, 'KILG', 39.667, -75.6, 'WILMINGTON      ', 'DE', 'US', '12/6/2018', '12/6/2018', 33.5, 31.4, 47.6)
(134, 'KILM', 34.266999999999996, -77.9, 'WILMINGTON      ', 'NC', 'US', '12/6/2018', '12/6/2018', 42, 39.8, 61.8)
(135, 'KIND', 39.717, -86.3, 'INDIANAPOLIS    ', 'IN', 'US', '12/6/2018', '12/6/2018', 28, 27, 41.8)
(136, 'KINK', 31.783, -103.2, 'WINK            ', 'TX', 'US', '12/6/2018', '12/6/2018', 47.5, 29.9, 62.4)
(137, 'KINL', 48.567, -93.4, 'INTERNTNL FALLS ', 'MN', 'US', '12/6/2018', '12/6/2018', 3, 4.9, 22.2)
(138, 'KINT', 36.133, -80.217, 'WINSTON SALEM   ', 'NC', 'US', '12/6/2018', '12/6/2018', 36.5, 34.6, 53.7)
(139, 'KINW', 35.033, -110.71700000000001, 'WINSLOW         ', 'AZ', 'US', '12/6/2018', '12/6/2018', 38, 21.6, 50.5)
(140, 'KIPT', 41.25, -76.917, 'WILLIAMSPORT    ', 'PA', 'US', '12/6/2018', '12/6/2018', 32, 27.4, 40.9)
(141, 'KISN', 48.167, -103.633, 'WILLISTON       ', 'ND', 'US', '12/6/2018', '12/6/2018', 15.5, 6.3, 27)
(142, 'KJAN', 32.317, -90.083, 'JACKSON         ', 'MS', 'US', '12/6/2018', '12/6/2018', 45.5, 38.8, 60.3)
(143, 'KJAX', 30.5, -81.683, 'JACKSONVILLE    ', 'FL', 'US', '12/6/2018', '12/6/2018', 49.5, 45.8, 68.5)
(144, 'KJCT', 30.511, -99.766, 'Junction', 'TX', 'US', '12/6/2018', '12/6/2018', 53, 34.1, 63.2)
(145, 'KLAL', 27.989, -82.01899999999999, 'Lakeland Reg AP', 'FL', 'US', '12/6/2018', '12/6/2018', 40.5, 53.9, 75.8)
(146, 'KLAN', 42.783, -84.583, 'LANSING         ', 'MI', 'US', '12/6/2018', '12/6/2018', 26.5, 25.4, 37.2)
(147, 'KLAS', 36.083, -115.15, 'LAS VEGAS       ', 'NV', 'US', '12/6/2018', '12/6/2018', 47, 39.6, 57.7)
(148, 'KLAX', 33.933, -118.383, 'LOS ANGELES     ', 'CA', 'US', '12/6/2018', '12/6/2018', 56.5, 49.3, 65.2)
(149, 'KLBB', 33.667, -101.81700000000001, 'LUBBOCK         ', 'TX', 'US', '12/6/2018', '12/6/2018', 37, 28.4, 55.6)
(150, 'KLBF', 41.117, -100.667, 'NORTH PLATTE    ', 'NE', 'US', '12/6/2018', '12/6/2018', 11.5, 13, 40.6)
(151, 'KLCH', 30.133000000000003, -93.21700000000001, 'LAKE CHARLES    ', 'LA', 'US', '12/6/2018', '12/6/2018', 58, 45.6, 65.3)
(152, 'KLEX', 38.033, -84.6, 'LEXINGTON       ', 'KY', 'US', '12/6/2018', '12/6/2018', 36, 30.2, 46.4)
(153, 'KLFK', 31.233, -94.75, 'LUFKIN          ', 'TX', 'US', '12/6/2018', '12/6/2018', 56, 40.9, 62.7)
(154, 'KLFT', 30.2, -92, 'LAFAYETTE       ', 'LA', 'US', '12/6/2018', '12/6/2018', 56, 45.9, 66.1)
(155, 'KLGA', 40.783, -73.883, 'LA GUARDIA', 'NY', 'US', '12/6/2018', '12/6/2018', 37, 35.2, 47.4)
(156, 'KLGB', 33.817, -118.15, 'LONG BEACH      ', 'CA', 'US', '12/6/2018', '12/6/2018', 57.5, 46.3, 67.3)
(157, 'KLIT', 34.733000000000004, -92.23299999999999, 'LITTLE ROCK     ', 'AR', 'US', '12/6/2018', '12/6/2018', 38.5, 35.5, 54.5)
(158, 'KLND', 42.817, -108.73299999999999, 'LANDER          ', 'WY', 'US', '12/6/2018', '12/6/2018', 12.5, 10.7, 32.4)
(159, 'KLNK', 40.85, -96.76700000000001, 'LINCOLN         ', 'NE', 'US', '12/6/2018', '12/6/2018', 15, 18.4, 39.5)
(160, 'KLNS', 40.117, -76.3, 'LANCASTER       ', 'PA', 'US', '12/6/2018', '12/6/2018', 33.5, 28, 44.1)
(161, 'KLRD', 27.533, -99.46700000000001, 'Larado INTL AP', 'TX', 'US', '12/6/2018', '12/6/2018', 71, 48, 69.1)
(162, 'KLSE', 43.883, -91.25, 'LA CROSSE       ', 'WI', 'US', '12/6/2018', '12/6/2018', 10.5, 17.6, 32.2)
(163, 'KLUK', 39.1, -84.417, 'CINCINNAT/LUNKEN', 'OH', 'US', '12/6/2018', '12/6/2018', 31.5, 28.1, 46)
(164, 'KLWS', 46.367, -117.01700000000001, 'LEWISTON        ', 'ID', 'US', '12/6/2018', '12/6/2018', 29, 29, 40.6)
(165, 'KLYH', 37.317, -79.2, 'LYNCHBURG       ', 'VA', 'US', '12/6/2018', '12/6/2018', 35, 29.3, 50.2)
(166, 'KMAF', 31.95, -102.2, 'MIDLAND         ', 'TX', 'US', '12/6/2018', '12/6/2018', 45.5, 32, 59.6)
(167, 'KMCI', 39.3, -94.73299999999999, 'KANSAS CITY', 'MO', 'US', '12/6/2018', '12/6/2018', 23.5, 24.9, 42.8)
(168, 'KMCN', 32.683, -83.65, 'MACON           ', 'GA', 'US', '12/6/2018', '12/6/2018', 40, 37.9, 61.9)
(169, 'KMCO', 28.416999999999998, -81.333, 'ORLANDO         ', 'FL', 'US', '12/6/2018', '12/6/2018', 59, 54.4, 74.3)
(170, 'KMDT', 40.2, -76.767, 'MIDDLETOWN      ', 'PA', 'US', '12/6/2018', '12/6/2018', 33.5, 28.7, 44.2)
(171, 'KMDW', 41.783, -87.75, 'CHICAGO         ', 'IL', 'US', '12/6/2018', '12/6/2018', 24.5, 25.5, 38.2)
(172, 'KMEI', 32.333, -88.75, 'MERIDIAN/KEY FLD', 'MS', 'US', '12/6/2018', '12/6/2018', 44.5, 37.1, 61)
(173, 'KMEM', 35.067, -89.98299999999999, 'MEMPHIS         ', 'TN', 'US', '12/6/2018', '12/6/2018', 41, 37, 54.4)
(174, 'KMFE', 26.183000000000003, -98.25, 'MCALLEN         ', 'TX', 'US', '12/6/2018', '12/6/2018', 73.5, 53.4, 73.8)
(175, 'KMFR', 42.383, -122.867, 'MEDFORD         ', 'OR', 'US', '12/6/2018', '12/6/2018', 38, 33.4, 46.6)
(176, 'KMGM', 32.3, -86.4, 'MONTGOMERY      ', 'AL', 'US', '12/6/2018', '12/6/2018', 41.5, 38.9, 61.9)
(177, 'KMHT', 42.933, -71.433, 'MANCHESTER      ', 'NH', 'US', '12/6/2018', '12/6/2018', 33, 26.2, 41.4)
(178, 'KMIA', 25.8, -80.283, 'MIAMI           ', 'FL', 'US', '12/6/2018', '12/6/2018', 70, 64.8, 79)
(179, 'KMKE', 42.95, -87.9, 'MILWAUKEE       ', 'WI', 'US', '12/6/2018', '12/6/2018', 23, 23, 35.7)
(180, 'KMKG', 43.167, -86.23299999999999, 'MUSKEGON        ', 'MI', 'US', '12/6/2018', '12/6/2018', 28, 27.9, 37.7)
(181, 'KMLB', 28.1, -80.65, 'MELBOURNE       ', 'FL', 'US', '12/6/2018', '12/6/2018', 65.5, 54.9, 74.9)
(182, 'KMLI', 41.45, -90.51700000000001, 'MOLINE/QUAD CITY', 'IL', 'US', '12/6/2018', '12/6/2018', 23.5, 21.3, 37.7)
(183, 'KMLS', 46.433, -105.883, 'MILES CITY      ', 'MT', 'US', '12/6/2018', '12/6/2018', 12, 11.8, 32.9)

In [45]:
type(day_df["fcst_mn"][1])

numpy.int64

In [ ]:
# from sqlalchemy import create_engine
# import pymysql
# pymysql.install_as_MySQLdb()

In [ ]:
# engine = create_engine("mysql://root:@localhost/Project2")

In [ ]:
# conn = engine.connect()

In [ ]:
# new_df.to_sql(name='forecast', con=engine, if_exists='append', index=False)

In [ ]:
# data = pd.read_sql("SELECT * FROM forecast", conn)

In [ ]:
# data.head()

In [ ]:
# engine.table_names()

In [ ]:
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [ ]:
Base = declarative_base()

class Forecast(Base):
    __tablename__ = 'forecast'
    station_id = Column(String, primary_key=True)